<!DOCTYPE html>
<html lang="en">

<head>
    <title>Register</title>
    <link rel="stylesheet" href="/resources/css/style.css">
</head>

<body>
    <div class="register-form">
        <h1> Formato De Registro </h1>
        <form action="register" method="POST">
            <label for="">Nombre de Usuario</label>
            <input type="text" name="user" required>

            <label for="name">Nombre Completo</label>
            <input type="text" name="name" required>

            <label for="rol">Roll</label>
            <select name="rol" id="rol" class="select-css">
                <option value="admind" selected>Adm</option>
                <option value="data entry"> Usuario </option>
            </select>

            <label for="pass">Contraseña</label>
            <input type="password" name="pass" required>

            <div style="display: inline;">
                <a href="/" class="btn-cancel">Cancelar</a><input type="submit" class="btn-save" value="Guardar">
            </div>


        </form>

    </div>

</body>

</html>